{
  "presets": [
    "babel-preset-expo"
  ],
  "sourceMaps": true,
  "env": {
    "development": {
      "retainLines": true,
      "plugins": [
        "transform-react-jsx-source"
      ]
    }
  },
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          "img": "./assets/img",
          "theme": "./native-base-theme"
        }
      }
    ]
  ]
}
